@import "tailwindcss";
@plugin "daisyui"{
    themes: all;
}

/* Add cursor pointer default to all buttons */
@layer base{
    button:not(:disabled),
    [role="button"]:not(:disabled){
        cursor: pointer;
    }
}